table label {
  display: block;
  width: 100%;
  text-align: right;
}

table td {
  padding: .5rem;
}

table {
  width: 100%;
}

form input {
  width: 50%;
  border: 1px solid rgb(165, 165, 165);
  padding: .5rem;
  color: rgb(22, 22, 22);
}

form.disabled input {
  width: 50%;
  border: 1px solid rgb(165, 165, 165);
  padding: .5rem;
  color: rgb(100, 100, 100);
}

input:focus {
  border: 1px solid rgb(126, 125, 125);
}

.action {
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

.dropdown select {
  width: 50%;
  border: none;
  padding: .5rem;
  color: rgb(22, 22, 22);
  border: 1px solid rgb(165, 165, 165);
  background-color: transparent;
}