* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none;
}

.btn-primary {
  display: inline-block;
  background-color: #438EB9;
  text-decoration: none;
  color: aliceblue;
  font-size: .9rem;
  padding: .5rem 1rem;
}

button.btn-primary {
  display: inline-block;
  background-color: #438EB9;
  text-decoration: none;
  color: aliceblue;
  font-size: .9rem;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
}

.btn-danger {
  display: inline-block;
  background-color: #DC3545;
  text-decoration: none;
  color: aliceblue;
  font-size: .9rem;
  padding: .5rem 1rem;
}

button.btn-danger {
  display: inline-block;
  background-color: #DC3545;
  text-decoration: none;
  color: aliceblue;
  font-size: .9rem;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
}

.container header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(211, 211, 211);
}

header .profile {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-wrapper:hover .profile-info .profile-fullname {
  text-decoration: underline;
}

.profile .profile-img {
  width: 3rem;
  margin-right: .5rem;
}

.profile .profile-fullname {
  font-weight: 500;
}

.profile .profile-username {
  color: grey;
  font-size: .9rem;
}

.profile .logout-modal {
  background-color: #686767;
  padding: 1rem 2rem;
  position: absolute;
  top: 4rem;
  right: 0;
}

.logout-modal::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #686767;
  position: absolute;
  transform: rotate(45deg);
  top: -7px;
  right: 10px;
}

.logout-modal a {
  color: aliceblue;
  text-decoration: none;
}

.search {
  margin: 2rem 0;
  display: flex;
}

.search label {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.search .input-search {
  flex-grow: 2.5;
}

.search input {
  border: none;
  background-color: rgb(224, 224, 224);
  width: 60%;
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: .8rem;
  background-image: url(../assets/search.svg);
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 15px;
  padding-left: 2.5rem;
}

.search .search-option-wrapper,
.search .search-order-wrapper {
  flex-grow: 1;
}

.search-option-wrapper select,
.search-order-wrapper select {
  border: none;
  padding: .5rem 1rem;
  color: rgb(22, 22, 22);
  border: 1px solid rgb(165, 165, 165);
  background-color: transparent;
  border-radius: 1rem;
}

.table-container,
.search {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.operation a {
  margin: 0 .5rem;
}

.table-container table {
  width: 100%;
}


.table-container table tr,
.table-container table td,
.table-container table th {
  border-bottom: 1px solid rgb(211, 211, 211);
}


.table-container table td,
.table-container table th {
  padding: 1rem 2rem;
}

.table-container table .select,
.table-container table .order,
.table-container table .detail {
  padding: 1rem 1rem;
  text-align: center;
}

.table-container table .select input {
  display: block;
  margin: auto;
}



.table-container table th {
  text-align: left;
}

.table-title {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}





